/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: url(src/Site-background.png);
    color: #222;
    transition: background-color 0.3s, color 0.3s;
}

/* Navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    color: var(--black);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: all 0.3s;
}

nav:hover {
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.logo {
    height: 40px;
    margin-right: 1rem;
    filter: grayscale(20%);
    transition: filter 0.3s;
}

.logo:hover {
    filter: grayscale(10%);
}

.search-container {
    position: relative;
    flex-grow: 1;
    max-width: 600px;
    margin: 0 2rem;
    display: flex;
    align-items: center;
}

.search-input {
    width: 100%;
    padding: 0.8rem 2.5rem 0.8rem 3rem;
    border-radius: 25px;
    border: 1px solid var(--gray);
    background-color: var(--white);
    color: var(--black);
    transition: all 0.3s;
}

.search-input:focus {
    outline: none;
    border: 2px solid #a5a5a5 ;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.search-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black);
}

.filter-btn {
    position: absolute;
    left: 10px;
    background: none;
    border: none;
    color: var(--black);
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    z-index: 2;
    transition: all 0.3s;
}

.filter-btn span:last-child {
    opacity: 0;
    width: 0;
    overflow: hidden;
    transition: all 0.3s;
}

.filter-btn:hover span:last-child {
    opacity: 1;
    width: auto;
}

.filter-btn:hover {
    color: white;
    background: #333;
    padding: 5px 12px;
    border-radius: 15px;
}

.auth-buttons, .user-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.auth-btn {
    background-color: #f0f0f0;
    border: 1px solid #e0e0e0;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.auth-btn:hover {
    background-color: black;
    color: white;
    transform: translateY(-2px);
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #f0f0f0;
    transition: border-color 0.3s;
}

.profile-pic:hover {
    border-color: #cccccc;
}

.upload-btn {
    background-color: #f5f5f5;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.upload-btn a {
    color: black;
    transition: background-color 0.3s, transform 0.3s;
}

.upload-btn a:hover {
    color: white;
}


.upload-btn:hover {
    background-color: black;
    color: white;
    transform: translateY(-2px);
}

/* Hero Section */
.hero {
    margin-top: 80px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(3px);
    transition: background-color 0.3s;
}

.game-logo {
    max-width: 700px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    filter: grayscale(20%);
    transition: filter 0.3s;
}

.game-logo:hover {
    filter: grayscale(0%);
}

.download-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    background-color: #f0f0f0;
    border: 3px solid #cccccc;
    border-radius: 30px;
    color: black;
    cursor: pointer;
    transition: transform 0.6s, background-color 0.3s;
    text-decoration: none;
}

.download-btn:hover {
    transform: scale(1.05);
    background-color: black;
    color: white;
}

.buttons-links {
    display: flex;
    flex-direction: row;
}

.discord-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    background-color: #f0f0f0;
    border: 3px solid #cccccc;
    border-radius: 30px;
    color: black;
    cursor: pointer;
    transition: transform 0.6s, background-color 0.3s;
    text-decoration: none;
    margin-left: 10px;
}

.discord-link:hover {
    transform: scale(1.05);
    background-color: black;
    color: white;
}

.fab.fa-discord {
    font-size: 1.4rem;
}

/* Levels Grid */
.levels-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
    padding: 2rem;
    margin-top: 2rem;
}

/* Añade estos estilos para el mensaje */
#no-levels {
    grid-column: 1 / -1;
    text-align: center;
    padding: 2rem;
    color: var(--black);
    font-size: 1.2rem;
    font-style: italic;
    display: none;
}

#no-levels p {
    animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

.level-card {
    background-color: #ffffff;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.level-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.card-cover {
    width: 100%;
    height: 180px;
    object-fit: cover;
    filter: grayscale(20%);
    transition: filter 0.3s;
}

.level-card:hover .card-cover {
    filter: grayscale(0%);
}

.card-content {
    padding: 1rem;
}

.card-title {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
}

.creator-info {
    color: #666;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.stats-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-size: 0.85rem;
}

.likes {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.material-symbols-outlined {
    font-size: 1.2rem;
    vertical-align: middle;
}

#no-levels {
    grid-column: 1 / -1;
    text-align: center;
    padding: 2rem;
    color: #666;
}

/* Image Error Handling */
.card-cover[alt="Error loading cover image"] {
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
    font-size: 0.9rem;
}

#no-levels {
    text-align: center;
    margin-top: 2rem;
    margin-left: 12rem;
    margin-right: 12rem;
    margin-bottom: 8rem;
    font-size: 2rem;
    background-color: red;
    border-radius: 60px;
    color: white;
}

/* Responsive */
@media (max-width: 768px) {
    nav {
        flex-wrap: wrap;
        padding: 1rem;
        gap: 1rem;
    }
    
    .search-container {
        order: 3;
        width: 100%;
        margin: 0;
    }
    
    .hero {
        height: 200px;
        margin-top: 120px;
    }
    
    .game-logo {
        max-width: 200px;
    }
}

@media (max-width: 480px) {
    .levels-grid {
        grid-template-columns: 1fr;
    }
}